<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обучение в ОТУСе</title>
</head>
<body>
<div>
    <h1>Привет всем!</h1>

    <h3>Ближайшие занятия:</h3>
    <div>
        <ul>
            {% for lesson in all_lessons %}
            <ul>
                <li>
                    <div>Время урока: {{ lesson.date_time_of_lesson }}</div>
                    <div>Тема урока: {{ lesson.theme_of_lesson }}</div>
                    <div>Курс: {{ lesson.course }}</div>
                    <div>Преподаватель: {{ lesson.teacher }}</div>
                </li>
            </ul>
            {% endfor %}
        </ul>
    </div>
    <h3>Все документы курса:</h3>
    <ul>
        {% for document in all_docs %}
            <li>
                <div>
                    <b>Название документа:</b> {{ document.title }}
                </div>
                <div>
                    Тип вида документа: {{ document.get_type_of_doc_display }}
                </div>
<!--                <div>-->
<!--                    <ul>-->
<!--                        {% for key, value in document.TYPE_OF_DOC %}-->
<!--                        <li>{{ key }} : {{ value }}</li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->
<!--                </div>-->
                <div>
                    Автор: {{ document.author }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Все студенты:</h3>
    <ul>
        {% for student in all_students %}
        <li>
            <div>
                Студент: {{ student.full_name }}
            </div>
            <div>
                Email студента: {{ student.email }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Все курсы:</h3>
    <ul>
        {% for course in all_courses %}
        <li>
            <div>
                Наименование курса: {{ course.title }}
            </div>
                <div>Преподаватель: {{ course.teacher }}</div>
            <div>
                Студент:
                <ul>
                    {% for student in course.students.all %}
                    <li>
                        Имя студента: {{ student.full_name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        {% endfor %}
    </ul>
    <hr>
    <h3>URL страницы</h3>
     <div>
        This page url: {% url 'otusPlus:index' %}
    </div>

</div>
</body>
</html>